*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}

body	{
	font-family: 'Montserrat', sans-serif;
	
}

header	{
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 2;
}

.transparent-bg {
  background-color: transparent;
}

#landing	{
	height: 100vh;
	overflow: hidden;
}

 }

.video-background  {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
        }

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.video-overlay	{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
}

.main_content	{
	max-width: 700px;
	background-color: transparent;
}

.profile_pic	{
	width: 50%;
	background-color: transparent;
}

.more	{
	height: 100vh;
	overflow: hidden;
	z-index: 2;
}

#knowmore	{
	z-index: 2;
}

#projects	{
	z-index: 2;
}

#tools	{
	z-index: 2;
}

#contact	{

	z-index: 2;
}

.icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
}

.card-body	{
	background-color: transparent;
}

.card-deck	{
	background-color: transparent;
}

.card-title	{
	background-color: transparent;
}

.card-text		{
	background-color: transparent;
}

.collapse	{
	background-color: transparent;
}

.school	{
	position: sticky;
	top: 12rem;
}

.bootcamp	{
	position: sticky;
	top: 15rem;
}

#footer	{
	height: 10vh;
	z-index: 2;
}