*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0 !important;
}

.cardHighlight{
  min-height: 100%;
}

.navbar{
  background-color: orangered;
  padding: 0;
}

.navbar .nav-link {
  color: white !important;
  font-weight: 300px;
}

.header{
  background-image: linear-gradient(orangered, darkorange);
  padding: 0;
}